* *::after *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.clock {
    background-color: white;
    height: 600px;
    width: 600px;
    border: 5px solid darkblue;
    border-radius: 50%;
    position: relative;
}



.clock .number {

    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 60px;

}

.clock .number1 {
    transform: rotate(30deg)
}

.clock .number2 {
    transform: rotate(60deg);
}

.clock .number3 {
    transform: rotate(90deg);
}

.clock .number4 {
    transform: rotate(120deg);
}

.clock .number5 {
    transform: rotate(150deg);
}

.clock .number6 {
    transform: rotate(180deg);
}

.clock .number7 {
    transform: rotate(210deg);
}

.clock .number8 {
    transform: rotate(240deg);
}

.clock .number9 {
    transform: rotate(270deg);
}

.clock .number10 {
    transform: rotate(300deg);
}

.clock .number11 {
    transform: rotate(330deg);
}




.clock .hand {
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 50%;
    left: 50%;
    z-index: 10;
    transform-origin: bottom;
    transform: translateX(-50%);
}

.clock .hand.second {
   transform: translateX(-50%); 
    width: 2px;
    height: 40%;
    background-color: rgb(102, 114, 79);
    z-index: 11;
}

.clock .hand.minute {
    width: 6px;
   transform: translateX(-50%); 
    height: 45%;
    background-color: rgb(97, 55, 55);
    z-index: 8;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.clock .hand.hour {
   transform: translateX(-50%); 
    width: 12px;
    height: 40%;
    z-index: 7;
    background-color: black;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.clock::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    background-color: black;
    z-index: 12;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    
}